<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="static/jquery-3.3.1.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>
    <style>
        .main{
            width: 60%;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<img src="static/img/new/1-16929.jpg">
<img src="static/img/new/1-16932.jpg">
<img src="static/img/new/1-16935.jpg">

<img src="static/img/new/2-16956.jpg">
<img src="static/img/new/2-16960.jpg">
<img src="static/img/new/2-16964.jpg">

<img src="static/img/new/3-16973.jpg">
<img src="static/img/new/3-16975.jpg">
<img src="static/img/new/3-16935.jpg">

<img src="static/img/new/4-16985.jpg">
<img src="static/img/new/4-16987.jpg">

<img src="static/img/new/5-16997.jpg">
<img src="static/img/new/5-16999.jpg">

<img src="static/img/new/6-17016.jpg">
<img src="static/img/new/6-17019.jpg">
<img src="static/img/new/6-17022.jpg">

<img src="static/img/new/7-17049.jpg">
<img src="static/img/new/7-17054.jpg">
<img src="static/img/new/7-17058.jpg">

<img src="static/img/new/8-17075.jpg">
<img src="static/img/new/8-17078.jpg">

<img src="static/img/new/9-17093.jpg">
<img src="static/img/new/9-17095.jpg">

<img src="static/img/new/10-16773.jpg">
<img src="static/img/new/10-16778.jpg">
<img src="static/img/new/10-16783.jpg">

<img src="static/img/new/11-16819.jpg">
<img src="static/img/new/11-16823.jpg">

<img src="static/img/new/12-16857.jpg">
<img src="static/img/new/12-16862.jpg">
</body>
</html>