<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>INDEX</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="static/jquery-3.3.1.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<img src="static/img/teacher/7.jpg">
<img src="static/img/teacher/14.jpg">
<img src="static/img/teacher/15.jpg">
<img src="static/img/teacher/1.jpg">
<img src="static/img/teacher/5.jpg">
<img src="static/img/teacher/2.jpg">
<img src="static/img/teacher/9.jpg">
<img src="static/img/teacher/4.jpg">
<img src="static/img/teacher/6.jpg">
<img src="static/img/teacher/11.jpg">
<img src="static/img/teacher/10.jpg">
<img src="static/img/teacher/3.jpg">
<img src="static/img/teacher/8.jpg">
<img src="static/img/teacher/12.jpg">
</body>
</html>